<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="signUpAction()">
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" required formControlName="name" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tel</ion-label>
      <ion-input type="tel" required formControlName="phone" [(ngModel)]="user.phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" required formControlName="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <button ion-button full color="primary" [disabled]="!myForm.valid" style="margin-top: 20px;" type="submit">SignUp</button>
  </form>
</ion-content>
